extends layout.jade

block top-block
	.top-sort-block.visibility
		ul.top-sort-block__list
			li.top-sort-block__item
				a.top-sort-block__link
					span.top-sort-block__link-name Флагманы
			li.top-sort-block__item
				a.top-sort-block__link
					span.top-sort-block__link-name Бюджетная линейка