footer
	.inner-wrapper
		.footer-logo
		.footer-social
			ul.footer-social__list
				li.footer-social__item
					a(href="#").footer-social__item-link.footer-social__item-link-fb_footer
				li.footer-social__item
					a(href="#").footer-social__item-link.footer-social__item-link-vk_footer
				li.footer-social__item
					a(href="#").footer-social__item-link.footer-social__item-link-tw_footer
		.footer-navigation
			ul.footer-navigation__list
				li.footer-navigation__item
					a(href="#").footer-navigation__item-link Mp3 плееры
				li.footer-navigation__item
					a(href="#").footer-navigation__item-link Мобильные телефоны
				li.footer-navigation__item
					a(href="#").footer-navigation__item-link Планшеты
				li.footer-navigation__item
					a(href="#").footer-navigation__item-link Бытовая техника 
				li.footer-navigation__item
					a(href="#").footer-navigation__item-link Аксессуары
				li.footer-navigation__item
					a(href="#").footer-navigation__item-link Ноутбуки
				li.footer-navigation__item
					a(href="#").footer-navigation__item-link Персональные компьютеры
	.footer__copyright All rights reserved. 2016. no copy allowed