header.second-header
	.inner-wrapper
		.header-logo
		.search
			form.search__form
				input(type="text" placeholder="Что будем искать").search__input
				button(type="submit").search__button Найти
		ul.settings__list
			li.settings__item
				a(href="#").settings__item-link Карта проезда
			li.settings__item
				a(href="#").settings__item-link История заказов
			li.settings__item
				a(href="#").settings__item-link Корзина