header.first-header
	.inner-wrapper
		.socials
			ul.socials__list
				li.socials__item
					a.socials__link.socials__link_fb
				li.socials__item
					a.socials__link.socials__link_vk
				li.socials__item
					a.socials__link.socials__link_tw
		.header__phone +7(921) 123-12-13			
		.header__address ул.Маяковская 6, офис 17