nav.appliances
	.inner-wrapper
		ul.appliances__list
			li.appliances__item
				a(href="#").appliances__link
					span.appliances__link-name Планшеты
			li.appliances__item-active
				a(href="#").appliances__link
					span.appliances__link-name Мобильные телефоны
			li.appliances__item
				a(href="#").appliances__link
					span.appliances__link-name Mp3 плееры
			li.appliances__item
				a(href="#").appliances__link
					span.appliances__link-name Персональные компьютеры
			li.appliances__item
				a(href="#").appliances__link
					span.appliances__link-name Ноутбуки
			li.appliances__item
				a(href="#").appliances__link
					span.appliances__link-name Аксессуары
			li.appliances__item
				a(href="#").appliances__link
					span.appliances__link-name Бытовая техника