.sortby
	.sortby__select
		.sortby__select_label Сортировать по
		.sortby__select_block 
			.sortby__select_field Цене
				.sort-arrow
			ul.sortby__select_list
				li.sortby__select_item по цене
				li.sortby__select_item по популярности
	.sortby__view
		.sortby__view_label Вид каталога
		.sortby__view_list-block
			ul.sortby__view_list
				li.sortby__view_item.sortby__view_item-wide
				li.sortby__view_item.sortby__view_item-vertical
				li.sortby__view_item.sortby__view_item-thin