block top-block
	.top-sort-block
		ul.top-sort-block__list
			li.top-sort-block__item
				a(href="#").top-sort-block__link Флагманы
			li.top-sort-block__item
				a(href="#").top-sort-block__link Бюджетная линейка